* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


html {
	background: url(h.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

body {
	font-family: 'Roboto', sans-serif;
	color: #e5ecf0;

}

.wrapper {
	max-width: 500px;
	padding: 0 0.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4rem;
}

label {
	font-size: 1.25rem;
	font-weight: 400;
	display: block;
	margin-bottom: 0.5rem;
	color: #c7cfd3;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0.5rem;
	background-color: rgba(0, 0, 0, 0.7);
}

input {
	font-family: 'Roboto', sans-serif;
	display: block;
	border: none;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	line-height: 1.5rem;
	padding: 0;
	font-size: 1.25rem;
	color: #0b0c0c;
	width: 100%;
	margin-top: 0.5rem;
	background-color: #f7eff5;
}

input:focus {
	outline: none;
}

/*calener*/
#ui-datepicker-div {
	display: none;
	background-color: #9daaf2;
	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	border-color: #0d0e0d;
	padding: 0.5rem;
	color: #080808;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ui-datepicker-calendar thead th {
	/* mon tue*/
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #080808;
}

.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: #0b0c0c;
	font-size: 0.875rem;
	text-decoration: none;
}

.ui-datepicker-calendar tbody td a:hover {
	background-color: #E0F2F1;
}

.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: rgb(221, 208, 220);
	color: rgb(3, 3, 3);
}

.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}

.ui-datepicker-header a.ui-corner-all:hover {
	background-color: #ECEFF1;
}

.ui-datepicker-header a.ui-datepicker-prev {
	left: 0;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}

.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}

.ui-datepicker-header a>span {
	display: none;
}

.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}

.ui-datepicker-week-col {
	color: #78909C;
	font-weight: 400;
	font-size: 0.75rem;
}

.card {
	margin: 10px auto;
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
	background: linear-gradient(to right, #fd959f, #74ffd8);
	border-radius: 6px;
	height: 300px;
	width: 300px !important;
	transition: 0.3s;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #080808;
}

.card:hover {
	box-shadow: 1px 10px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-title {
	text-align: center;
	color: #0e0d0d;
	font-weight: bold;
}

.card-text {
	font-weight: 500;
	color: #0d0d0e;
}

.card-image {
	text-align: center;
	margin: 5vh 0;
}

.card-text {
	text-align: center;
}

.title-heading {
	font-size: 3em;
	text-align: center;
	margin: 4%;
	font-weight: bold;

}

.card-body1 {
	padding-top: 100px;
}

.card-body1 .btn1 {
	background: linear-gradient(to top right, #ffa2e5, #e6b8ff);
	color: black;
	border-radius: 10px;

}

.btn1:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
}




.container {
	margin: 0 auto;
	min-height: 200px;
	overflow: hidden;
	padding: 40px 0;
	position: relative;
	text-align: center;
}

button {
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 25px;
	text-transform: uppercase;
	transition: all ease 0.5s;
}

button.button-accept {
	padding-top: 30px;
	padding-left: 125px;
	padding-right: 125px;
	padding-bottom: 30px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #E0F2F1;
}

button.button-accept:hover {
	background: linear-gradient(to top right, #5a5bf3, #91e7d9);
	;
}